In [13]:
import pandas as pd
import numpy as np
# Set max columns to None (display all)
pd.set_option('display.max_columns', None)

In [14]:
df = pd.read_csv('datasets/apoa_dataset_all_statins.csv')

In [15]:
df.isnull().sum()

eid                      0
apoA                 74970
Pack years           78014
Gender                   0
Smoking                893
BMI                   3107
Age                      3
SBP                  30117
DBP                  30112
Total cholesterol    32904
HDL cholesterol      72610
Triglycerides        33279
Walking activity       880
Moderate activity      880
CRP                  33925
LDL cholesterol      33787
statin use               0
dtype: int64

In [16]:
#drop all rows with null values in these columns
df.dropna(subset=['LDL cholesterol', 'CRP', 'Triglycerides', 'HDL cholesterol'], inplace=True)

In [17]:
df.isnull().sum()

eid                      0
apoA                  2510
Pack years           65606
Gender                   0
Smoking                450
BMI                   1722
Age                      0
SBP                  24195
DBP                  24191
Total cholesterol       55
HDL cholesterol          0
Triglycerides            0
Walking activity       447
Moderate activity      447
CRP                      0
LDL cholesterol          0
statin use               0
dtype: int64

In [18]:
df2 = pd.read_csv('datasets/blood_markers.csv')

In [19]:
df2.columns

Index(['Unnamed: 0', 'eid', 'Albumin', 'ALP', 'ALT', 'AST', 'GGT',
       'Total_bilirubin', 'Diabetes', 'Glycated_haemoglobin',
       'body_fat_precentage', 'Platelet_count', 'Apolipoprotein_B', 'Glucose',
       'IGF-1', 'Urate'],
      dtype='object')

In [20]:
df.columns

Index(['eid', 'apoA', 'Pack years', 'Gender', 'Smoking', 'BMI', 'Age', 'SBP',
       'DBP', 'Total cholesterol', 'HDL cholesterol', 'Triglycerides',
       'Walking activity', 'Moderate activity', 'CRP', 'LDL cholesterol',
       'statin use'],
      dtype='object')

In [21]:
new_df = df2[['eid', 'Albumin', 'ALP', 'ALT', 'AST', 'GGT', 
              'Total_bilirubin', 'Diabetes', 'Glycated_haemoglobin', 
             'Glucose', 'Urate', 'Platelet_count', 'Apolipoprotein_B', 'body_fat_precentage']].copy()

In [22]:
df = pd.merge(df, new_df, on='eid', how='left')

In [23]:
df.columns

Index(['eid', 'apoA', 'Pack years', 'Gender', 'Smoking', 'BMI', 'Age', 'SBP',
       'DBP', 'Total cholesterol', 'HDL cholesterol', 'Triglycerides',
       'Walking activity', 'Moderate activity', 'CRP', 'LDL cholesterol',
       'statin use', 'Albumin', 'ALP', 'ALT', 'AST', 'GGT', 'Total_bilirubin',
       'Diabetes', 'Glycated_haemoglobin', 'Glucose', 'Urate',
       'Platelet_count', 'Apolipoprotein_B', 'body_fat_precentage'],
      dtype='object')

In [24]:
df.describe()

,eid,apoA,Pack years,Gender,Smoking,BMI,Age,SBP,DBP,Total cholesterol,HDL cholesterol,Triglycerides,Walking activity,Moderate activity,CRP,LDL cholesterol,statin use,Albumin,ALP,ALT,AST,GGT,Total_bilirubin,Diabetes,Glycated_haemoglobin,Glucose,Urate,Platelet_count,Apolipoprotein_B,body_fat_precentage
count,4.278990e+05,425389.000000,362293.000000,427899.000000,427449.000000,426177.000000,427899.000000,403704.000000,403708.000000,427844.000000,427899.000000,427899.000000,427452.000000,427452.000000,427899.000000,427899.000000,427899.000000,425876.000000,425970.000000,425944.000000,424477.000000,425808.000000,424444.000000,426025.000000,403975.000000,425631.000000,425547.000000,415122.000000,424040.000000,418248.000000
mean,3.510407e+06,1.537991,8.350445,0.461525,0.544781,27.434277,56.550964,137.882302,82.263648,5.692775,1.448206,1.745373,3.379481,1.675730,2.608625,3.559330,0.151461,45.212322,83.590525,23.530259,26.224691,37.486655,9.122403,0.052363,36.108174,5.122255,309.329625,252.995733,1.031677,31.383497
std,1.450193e+06,0.270473,15.841962,0.498518,0.712520,4.783935,8.091451,18.637501,10.144083,1.143640,0.382063,1.018782,2.512043,2.040582,4.360925,0.869721,0.358498,2.623499,26.246008,14.145794,10.649753,41.999712,4.390958,0.222758,6.731617,1.235413,80.342133,59.953088,0.238079,8.533136
min,1.000013e+06,0.420000,0.000000,0.000000,-3.000000,12.121200,37.000000,65.000000,32.000000,1.498000,0.219000,0.231000,-3.000000,-3.000000,0.080000,0.276000,0.000000,17.380000,8.000000,3.010000,4.100000,5.000000,1.080000,0.000000,15.000000,0.995000,89.100000,0.300000,0.400000,5.000000
25%,2.254112e+06,1.346000,0.000000,0.000000,0.000000,24.157200,50.000000,124.500000,75.000000,4.907000,1.171000,1.046000,2.000000,0.000000,0.660000,2.946000,0.000000,43.490000,67.200000,15.400000,21.000000,18.600000,6.420000,0.000000,32.800000,4.600000,250.700000,213.200000,0.863000,25.100000
50%,3.509850e+06,1.511000,0.000000,0.000000,0.000000,26.750300,58.000000,136.500000,82.000000,5.651000,1.398000,1.484000,3.000000,1.000000,1.340000,3.519000,0.000000,45.200000,80.300000,20.120000,24.400000,26.400000,8.070000,0.000000,35.200000,4.929000,303.200000,248.000000,1.016000,31.000000
75%,4.765710e+06,1.697000,11.500000,1.000000,1.000000,29.904300,63.000000,149.500000,89.000000,6.424000,1.674000,2.148000,5.000000,3.000000,2.780000,4.120000,0.000000,46.920000,95.800000,27.390000,28.800000,41.100000,10.420000,0.000000,37.900000,5.313000,361.000000,287.000000,1.182000,37.700000
max,6.024085e+06,2.500000,301.000000,1.000000,2.000000,74.683700,73.000000,268.000000,147.500000,15.460000,4.401000,11.278000,7.000000,7.000000,79.960000,9.797000,1.000000,59.800000,1416.700000,491.030000,947.200000,1184.900000,87.420000,1.000000,515.200000,36.813000,1067.500000,1821.000000,2.000000,69.800000

In [25]:
df.isnull().sum()

eid                         0
apoA                     2510
Pack years              65606
Gender                      0
Smoking                   450
BMI                      1722
Age                         0
SBP                     24195
DBP                     24191
Total cholesterol          55
HDL cholesterol             0
Triglycerides               0
Walking activity          447
Moderate activity         447
CRP                         0
LDL cholesterol             0
statin use                  0
Albumin                  2023
ALP                      1929
ALT                      1955
AST                      3422
GGT                      2091
Total_bilirubin          3455
Diabetes                 1874
Glycated_haemoglobin    23924
Glucose                  2268
Urate                    2352
Platelet_count          12777
Apolipoprotein_B         3859
body_fat_precentage      9651
dtype: int64

## Impute categorical columns

In [26]:
cat_cols = ['Walking activity', 'Moderate activity', 'Smoking',  ]  # add more if needed

In [27]:
#handle negative categorical values (choose not to answer, etc.)
for col in cat_cols:
    mode_val = df[col].mode().iloc[0]  # Get the mode (first if multiple)
    df.loc[df[col] < 0, col] = mode_val

In [28]:
#handle missing categorical values
for col in cat_cols:
    mode_value = df[col].mode().iloc[0]
    df[col].fillna(mode_value, inplace=True)

C:\Users\ronra\AppData\Local\Temp\ipykernel_28996\341235209.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)

## impute numerical columns

In [29]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [30]:
df.isnull().sum()

eid                     0
apoA                    0
Pack years              0
Gender                  0
Smoking                 0
BMI                     0
Age                     0
SBP                     0
DBP                     0
Total cholesterol       0
HDL cholesterol         0
Triglycerides           0
Walking activity        0
Moderate activity       0
CRP                     0
LDL cholesterol         0
statin use              0
Albumin                 0
ALP                     0
ALT                     0
AST                     0
GGT                     0
Total_bilirubin         0
Diabetes                0
Glycated_haemoglobin    0
Glucose                 0
Urate                   0
Platelet_count          0
Apolipoprotein_B        0
body_fat_precentage     0
dtype: int64

In [31]:
df.count()

eid                     427899
apoA                    427899
Pack years              427899
Gender                  427899
Smoking                 427899
BMI                     427899
Age                     427899
SBP                     427899
DBP                     427899
Total cholesterol       427899
HDL cholesterol         427899
Triglycerides           427899
Walking activity        427899
Moderate activity       427899
CRP                     427899
LDL cholesterol         427899
statin use              427899
Albumin                 427899
ALP                     427899
ALT                     427899
AST                     427899
GGT                     427899
Total_bilirubin         427899
Diabetes                427899
Glycated_haemoglobin    427899
Glucose                 427899
Urate                   427899
Platelet_count          427899
Apolipoprotein_B        427899
body_fat_precentage     427899
dtype: int64

In [32]:
df.to_csv('extended_dataset.csv', index=False)

## VIF analysis

In [37]:
features = df.drop('eid', axis=1)

In [35]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(df):
    """Calculate VIF for all numeric columns"""
    # Select only numeric columns
    numeric_df = df.select_dtypes(include=[np.number])
    
    # Calculate VIF for each variable
    vif_data = pd.DataFrame()
    vif_data["Variable"] = numeric_df.columns
    vif_data["VIF"] = [variance_inflation_factor(numeric_df.values, i) 
                       for i in range(numeric_df.shape[1])]
    
    return vif_data.sort_values('VIF', ascending=False)

# Calculate VIF
vif_results = calculate_vif(features)
print("Variance Inflation Factors:")
print(vif_results)

Variance Inflation Factors:
                Variable          VIF
8      Total cholesterol  1877.060774
14       LDL cholesterol  1155.998870
27      Apolipoprotein_B   232.452462
9        HDL cholesterol   206.755489
0                   apoA   177.744603
7                    DBP   157.525933
16               Albumin   154.779120
6                    SBP   140.422790
4                    BMI   109.824937
28   body_fat_precentage    83.403424
5                    Age    67.246470
23  Glycated_haemoglobin    62.271506
24               Glucose    30.291217
25                 Urate    27.191511
26        Platelet_count    20.915314
19                   AST    16.396872
10         Triglycerides    14.087768
17                   ALP    13.582876
18                   ALT     9.737806
2                 Gender     8.793950
21       Total_bilirubin     6.237885
11      Walking activity     4.261071
3                Smoking     2.778621
20                   GGT     2.633423
1             Pack years     2.293857
12     Moderate activity     2.227147
15            statin use     1.718513
22              Diabetes     1.703959
13                   CRP     1.587224

In [39]:
#reduce co linearity and increase clarity
drop_cols = ['Apolipoprotein_B','apoA',
             'body_fat_precentage', 'Moderate activity', 'Pack years', 'Total cholesterol']

X_reduced = features.drop(columns=drop_cols)

from statsmodels.stats.outliers_influence import variance_inflation_factor

vif2 = pd.Series(
    [variance_inflation_factor(X_reduced.values, i)
     for i in range(X_reduced.shape[1])],
    index=X_reduced.columns).sort_values(ascending=False)

print(vif2.head(10))

DBP                     156.359882
Albumin                 145.702427
SBP                     140.041810
Age                      62.875578
Glycated_haemoglobin     62.090339
BMI                      48.120754
Glucose                  30.225188
Urate                    26.916467
HDL cholesterol          25.687487
LDL cholesterol          25.378266
dtype: float64

In [40]:
df_reduced = df.drop(columns=drop_cols)

In [41]:
df_reduced.to_csv('final_dataset.csv', index=False)